.StickyNote {
  --bg-color: 0;
  position: absolute;

  background-color: hsl(var(--bg-color), 30%, 70%);
  min-width: 8rem;
  min-height: 8rem;
  overflow: auto;

  resize: both;
  color: #222;

  display: grid;
  grid-template-rows: 1rem 1fr max-content;
  box-shadow: .3rem .3rem .5rem hsla(var(--bg-color), 63%, 35%, 0.45);
  user-select: none;
}

.StickyNote__header {
  background: rgba(0, 0, 0, 0.2);
  cursor: move;
}

.StickyNote__body {
  padding: .5rem 1rem .25rem;
}

.StickyNote__contentEditor {
  background: none;
  border: none;
  font-family: inherit;
  padding: 0;

  display: block;
  width: 100%;
  height: 100%;
  resize: none;
}

.StickyNote__footer {
  display: flex;
  align-items: center;
  padding: .25rem;
}

.StickyNote__colorRangeToggle {
  cursor: pointer;
  font-size: 1rem;
}
