.Board {
  position: relative;
  overflow: hidden;
  background-color: #c5c6da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Board__actions {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.Board__trash {
  display: flex;
  width: 7rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 0;
  font-size: 5rem;
  opacity: 0.75;
}

.Board__trash--active {
  background: red;
}
